<div class="row">
    <div class="col-xs-8">
        <% @comments.each do |comment|%>
            <%= link_to admins_commentcheck_path(comment)do%>
                <% if comment.delete_flg == false %>
                    <p><%= comment.comment%></p>
                    <p><%= comment.updated_at.strftime("%Y-%m-%d %H:%M") %></p>

                        <%= form_for [comment.app, comment] do |f| %>
                            <%= f.hidden_field :delete_flg, :value => true %>
                            <%= f.submit 'このページから削除する' %>
                        <% end %>
                        <%= link_to 'コメントを削除する', admins_commentcheck_index_path, method: :delete, data: { confirm: '本当に消しますか？' } %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>