<style>
table{
    width:600px;
    table-layout: fixed;
}

table tr,td{
    overflow-wrap: break-word;
    word-wrap: break-word;
}
</style>

<div class="row" style="padding-left: 30%" >
    <table>
    <tbody>
        <tr>
        <td><%= @comment.comment%></td>
        </tr>
    </tbody>
    </table>
    <br>
    <p><%= @comment.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
    <p><%= form_for comment,url: admins_commentcheck_path(@comment), method: :patch do |f| %>
       <%= f.hidden_field :approval, :value => true %>
       <%= f.submit '承認する' %>
      <% end %></p>
    <p><%= link_to 'コメントを削除する', admins_commentcheck_path, method: :delete, data: { confirm: '本当に削除しますか？' } %></p>
</div>