<div class="container">
  <% @apps.each do |app| %>
   <div class="row" style="padding-left: 20%;">

    <%= link_to admins_app_path(app.id) do%>
      <div class="col-md-4">
        <p><%= attachment_image_tag app, :image, :fill, 100, 100, format: 'jpeg' %></p>
        <% unless app.price_category.blank?%>
          <p><%= app.price_category.include?("free") ? "無料" : "有料"  %></p>
        <% end %>
      </div>

      <div class="col-md-8">
        <p><%= app.title.truncate(10) %></p>
        <% unless app.body.blank? %>
          <% newimage = app.body.truncate(100).split(/\R/) %>
          <% newimage.each do |row| %>
            <p><%= row.include?("![") ? "" : row %></p>
          <% end %>
        <% end %>
        <p><%= app.os_category %></p>
        <p><%= app.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
      </div>
    <% end %>
  </div>
  <% end %>
</div>