<h1>記事を追加</h1>

 <%= form_for(@apps) do |f| %>

        <div class="form">
         <h4>ジャケット画像</h4>
         <%= f.attachment_field :image %>
        </div>

        <div class="form">
         <%= f.label :os_category, "カテゴリー" %>
         <label><%= f.radio_button :os_category, 'iOS', checked: "checked" %>iOS</label>
         <label><%= f.radio_button :os_category, 'macOS' %>macOS</label>
        </div>

        <div class="form">
         <h4>タイトル</h4>
         <%= f.text_field :title %>
        </div>

        <div class="form">
         <h4>内容</h4>
         <%= f.text_area :body %>
        </div>

        <div class="form">
        <%= f.label :price_category, "プライス" %>
        <label><%= f.radio_button :price_category, '無料', checked: "checked" %>無料</label>
        <label><%= f.radio_button :price_category, '有料' %>有料</label>
       </div>

        <%= f.submit '記事を投稿' %>
 <% end %>