<div class="container">
    <div class="row">
      <div class="col-xs-10">
        <% @apps.each do |app| %>
          <div class="row">
            <%= link_to app_path(app.id) do%>

                <div class="col-xs-6">
                  <p><%= attachment_image_tag app, :image, :fill, 100, 100, format: 'jpeg' %></p>
                  <% unless app.price_category.blank?%>
                  <p><%= app.price_category.include?("free") ? "無料" : "有料"  %></p>
                  <% end %>
                </div>

                <div class="col-xs-6">
                  <p><%= app.title%></p>
                  <p><%= app.body%></p>
                  <p><%= app.image %></p>
                  <p><%= app.os_category %></p>
                  <p><%= app.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
                </div>
              <% end %>
            </div>
        <% end %>
      </div>

      <div class="col-xs-2">
          <h3>PVランキング</h3>

            <table>
            <tbody>
              <% @most_viewed.each.with_index(1) do |rank, i| %>
              <tr>
              <td><%= "#{i}位" %></td>
              <td><%= attachment_image_tag rank, :image, :fill, 300, 300, format: 'jpeg' %>
              <td><%= link_to "rank.title", app_path(rank) %></td>
              <td><%= rank.title %></td>
              <td><% unless rank.price_category.blank?%>
                  <p><%= rank.price_category.include?("free") ? "無料" : "有料"  %></p>
                  <% end %>
              </td>
              <td><%= rank.impressions_count %></td>
              </tr>
              <% end %>
            </tbody>
            </table>
      </div>
  </div>
</div>