<div class="container">
    <div class="row">
      <div class="col-xs-9" style="padding-left: 20%;">
        <% @apps.each do |app| %>
          <div class="row">
            <%= link_to app_path(app.id) do%>

                <div class="col-xs-6">
                  <p><%= attachment_image_tag app, :image, :fill, 100, 100, format: 'jpeg' %></p>
                  <% unless app.price_category.blank?%>
                  <p><%= app.price_category.include?("free") ? "無料" : "有料"  %></p>
                  <% end %>
                  <br>
                  <br>
                </div>

                <div class="col-xs-6">
                  <p><%= app.title.truncate(10) %></p>
                  <% unless app.body.blank? %>
                  <% newimage = app.body.truncate(100).split(/\R/) %>
                      <% newimage.each do |row| %>

                      <p><%= row.include?("![") ? "" : row %></p>

                      <% end %>
                  <% end %>
                  <p><%= app.os_category %></p>
                  <p><%= app.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
                </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="col-xs-3" style="padding-left: 5%;">
          <span class="glyphicon glyphicon-time" aria-hidden="true" style="font-size: 30px;"></span>
          <h3 id="RealtimeClockArea2"></h3>
          <br>
          <h3>PVランキング</h3>

            <table>
            <tbody>
              <% @most_viewed.each.with_index(1) do |rank, i| %>
              <tr class="trhover" onclick="location.href='<%= app_path(rank) %>'">
              <td style="padding-bottom: 5px;">No.<%= "#{i}" %></td>
              <td style="padding-bottom: 5px;"><%= attachment_image_tag rank, :image, :fill, 30, 30, format: 'jpeg' %>
              <td style="padding-bottom: 5px;"><%= rank.title.truncate(10) %></td>
              <td style="padding-bottom: 5px;"><% unless rank.price_category.blank?%>
                  <%= rank.price_category.include?("free") ? "無料" : "有料"  %>
                  <% end %>
              </td>
              </tr>
              <% end %>
            </tbody>
            </table>

      </div>
  </div>
</div>