<style type="text/css">
img{
  width: 100%;
}

.wrap-comment{
    overflow-wrap: break-word;
    word-wrap: break-word;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-xs-9" style="padding-left: 20%;">

         <div>
         <h1><%= @app.title%></h1>
        <% unless @app.body.nil? %>
         <p><%= markdown(@app.body.gsub(/(\r\n?|\n)/,"<br>")).html_safe %></p>
        <% else %>
         <p>記事の内容が記載されていません。</p>
        <% end %>
         </div>
         <strong>閲覧数:</strong>
         <%= @app.impressions_count %>
        <h3>コメント一覧</h3>
        <p><%= form_for [@app, @post_comment] do |f| %>
           <%= f.text_area :comment, rows: 5, placeholder: '200文字以内で入力してください', class:"form-control" %>
           <br>
           <div class="comment-botan" style="margin-bottom: 50px;">
           <%= f.submit '投稿する',class: 'col-sm-12 btn btn-info' %>
           </div>
           <% end %></p>
           <br>
           <br>
         <div class="comment" style="margin-bottom: 50px;">
         <% @app.post_comments.each do |comment|%>

                <% if comment.approval == false %>
                  <br>
                  <p>コメント承認まちです</p>
                  <% else %>
                  <div class="wrap-comment">
                  <br>
                  <%= comment.comment%>
                  <br>
                  <%= comment.updated_at.strftime("%Y-%m-%d %H:%M") %>
                  </div>
                <% end %>
         <% end %>
         </div>
        </div>

        <div class="col-xs-3" style="padding-left: 7%;">
            <span class="glyphicon glyphicon-time" aria-hidden="true" style="font-size: 30px;"></span>
            <h3 id="RealtimeClockArea2"></h3>
            <br>
            <h3>PVランキング</h3>

            <table>
            <tbody>
              <% @most_viewed.each.with_index(1) do |rank, i| %>
              <tr onclick="location.href='<%= app_path(rank) %>'">
              <td style="padding-bottom: 5px;"><%= "#{i}位" %></td>
              <td style="padding-bottom: 5px;"><%= attachment_image_tag rank, :image, :fill, 30, 30, format: 'jpeg' %>
              <td style="padding-bottom: 5px;"><%= rank.title.truncate(10) %></td>
              <td style="padding-bottom: 5px;"><% unless rank.price_category.blank?%>
                  <%= rank.price_category.include?("free") ? "無料" : "有料"  %>
              <% end %>
              </td>
              </tr>
              <% end %>
            </tbody>
            </table>
            </div>
        </div>
    </div>
</div>