<div class="container">
    <div class="row">
        <div class="col-md-6">

         <p><%= @app.title%></p>
        <% unless @app.body.nil? %>
         <p><%= markdown(@app.body).html_safe %></p>
        <% else %>
         <p>記事の内容が記載されていません。</p>
        <% end %>
         <strong>閲覧数:</strong>
         <%= @app.impressions_count %>
        </div>
        <p><%= form_for [@app, @post_comment] do |f| %>
           <%= f.text_field :comment %>
           <%= f.submit 'コメントする'%>
           <% end %></p>
         <% @post_comments.each do |comment|%>
              <% if comment.approval == false %>
                <p>コメント承認まちです</p>
                <% else %>
                <%= comment.comment%>
              <% end %>
         <% end %>


    </div>
</div>