<style type="text/css">
img{
  width: 100%;
}

.wrap-comment{
    overflow-wrap: break-word;
    word-wrap: break-word;
}

</style>

<div class="container">
    <div class="row">
        <div class="col-xs-9" style="padding-left: 20%;">

         <div>
         <h1><%= @app.title%></h1>
        <% unless @app.body.nil? %>
         <p><%= markdown(@app.body.gsub(/(\r\n?|\n)/,"<br>")).html_safe %></p>
        <% else %>
         <p>記事の内容が記載されていません。</p>
        <% end %>
         </div>
         <strong>閲覧数:</strong>
         <%= @app.impressions_count %>
        <h3>コメント一覧</h3>
        <p><%= form_for [@app, @post_comment] do |f| %>
           <%= f.text_area :comment, rows: 5, placeholder: '200文字以内で入力してください', class:"form-control" %>
           <br>
           <%= f.submit '投稿する',class: 'col-sm-12 btn btn-info' %>
           <% end %></p>
           <br>
           <br>
         <% @app.post_comments.each do |comment|%>

              <% if comment.delete_flg == false %>
                <% if comment.approval == false %>
                  <p>コメント承認まちです</p>
                  <% else %>
                  <div class="wrap-comment">
                  <%= comment.comment%>
                  </div>
                <% end %>
              <% end %>
         <% end %>
        </div>

        <div class="col-xs-3" style="padding-left: 7%;">
            <h3>PVランキング</h3>

            <table>
            <tbody>
              <% @most_viewed.each.with_index(1) do |rank, i| %>
              <tr onclick="location.href='<%= app_path(rank) %>'">
              <td><%= "#{i}位" %></td>
              <td><%= attachment_image_tag rank, :image, :fill, 30, 30, format: 'jpeg' %>
              <td><%= rank.title.truncate(10) %></td>
              <td><% unless rank.price_category.blank?%>
                  <%= rank.price_category.include?("free") ? "無料" : "有料"  %>
              <% end %>
              </td>
              </tr>
              <% end %>
            </tbody>
            </table>
            </div>
        </div>
    </div>
</div>