<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
			</button>
      <a class="navbar-brand" href="/admins">
				APPLIFE管理者メニュー
			</a>
		</div>

		<div class="collapse navbar-collapse" id="navbarEexample7">
			<ul class="nav navbar-nav">
				<li><%= link_to " logout ", destroy_admin_session_path, method: :delete %></li>
				<li><%= link_to " iOS ", admins_os_category_path("iOS"), class:"category-link" %></li>
				<li><%= link_to " macOS ", admins_os_category_path("macOS"), class:"category-link" %></li>
        <li><%= link_to " 無料 ", admins_price_category_path("free"), class:"category-link" %></li>
        <li><%= link_to " 有料 ", admins_price_category_path("pay"), class:"category-link" %></li>
        <li><%= link_to "コメントを承認する", admins_commentcheck_index_path %></li>
        <li><%= link_to " お問い合わせ一覧", admins_contacts_path %></li>
			</ul>
			<div class="navbar-text navbar-right">
        <%= search_form_for @q do |f| %>
          <%= f.search_field :title_or_body_cont %>
          <%= f.submit %>
        <% end %>
      </div>
		</div>
	</div>
</nav>