<header>
  <div class="container" style="background-color: black;">
    <nav>
    <%= link_to admins_path do%>
    <h2>applife</h2>
     <ul class="nav navbar-nav navbar-right">
    <% end %>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-left">
            <li><%= link_to " TOP ", apps_path ,:style=>"color:white;" %></li>
            <li><%= link_to " about ", apps_about_path ,:style=>"color:white;" %></li>
            <li><%= link_to " iOS ", apps_path ,:style=>"color:white;" %></li>
            <li><%= link_to " macOS ", apps_path ,:style=>"color:white;" %></li>
            <li><%= link_to " お問い合わせ ", apps_path ,:style=>"color:white;" %></li>
      </ul>
    </nav>
  </div>
 </header>