<!DOCTYPE html>
<html>
  <head>
    <title>Applife</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <% if admin_signed_in? %>
    <%= render 'layouts/admin_header' %>
  <% else %>
    <%= render 'layouts/not_login_header' %>
  <% end %>
    <%= yield %>

    <div class="footer-text">
    <footer>
    </footer>
  </div>
  </body>
</html>